.RedRow {
  background-color: red;
}

.BlueRow {
  background-color: blue;
}

.BlackRow {
  background-color: black;
}

.YellowRow {
  background-color: yellow;
}

.GreenRow {
  background-color: green;
}
